FORMAT: 1A
HOST: https://flarecms.acurian.com//api/Flare/v1

# Flare CMS API

API for communicating with the Flare CMS (which then may communicate with the Acurian Services (A.S.).
object, array, enum, string, boolean, number
https://github.com/apiaryio/mson
https://help.apiary.io/
https://help.apiary.io/api_101/mson-tutorial/
https://github.com/apiaryio/api-blueprint/blob/master/API%20Blueprint%20Specification.md

# Group Initial important W.S. calls (registration/login/etc)

## /appLaunch
### App Launch [POST]

On the app launch (could be 1st launch, and every subsequent launch)
Note: only return the pre-login keys for themes/translations here.
Note: based on the app and version, we can figure out the prelogin Translation keys
Note: on the 1st launch they won't send up device id, but subsequent launch will (hence how you will know if need to create a device-id or not). 
Note: check to see if the FCM token has changed for this device-id

Question: Should this WS have authentication like Basic since it doesnt have JWT Auth? (should the other ws requests which do have JWT Auth also have Basic Auth?). Answer: Sampad said that all W.S. should have Basic for ws auth, and we can use the JWT for user auth on WS that need them
Question: Which FCM Topic registrations should happen here? (Answer: os, locale, app, version). I am fine moving these generic ones (along with the patient/study-specific topics) into /register if you want to do them in 1 place.

Please call cms_version of apis for all web services. for example if default is not sent up, try to match up to a version. For now maybe we can always assume default() method?
function register($cms_version){
    if($cms_version=='default' || isDefault($cms_version) ) { register_default(); }
    else if($cms_version!='default' || versionMatchInDB($cms_version) && functionExists('register_'. $cms_version) ) { register$cms_version(); } 
    else { register_default(); } //no match
}
function register_default(){
  register_v1(); //whats the default cms version
}
function register_v1(){
  doStuff for V1...
}
function register_v2(){ //in future this may exist
  doStuff for V2...
}

+ Request 200 (application/json)

    + Headers
    
            Authorization: Basic dynamicCMSApiUserPassGoesHere

    + Attributes
        + OS (string) - android or ios or (web)
        + locale (string, optional) - assume 'en' (or 'en_US') if none passed
        + fcm_token (string) - mobile app will give us an FCM Token to register for that device
        + app_name (string) - machine name of app like 'default_flare_app' or 'pfizer_flare_app'
        + app_version (string) - examples: 'v1' or 'v1.5' or 'v2' 'v2.2' (do they want to just match on regex for example: 'v1\.1.*' and/or multiple versioning overrides per OS )
        + cms_version (string) - 'default' or 'v2', which pretend would correspond with login() and login_v2() respectively in the cms
        + device_id (string, optional) - *** provide if already gotton on app's 1st launch (response won't issue a new device_id, if one already passed up)
        + app_last_updated_date (string, optional) - *** needs to get the latest info so supply on subsequent launches... optional since we'll know if its empty string or missing to view this also as very first launch and all keys should be in inserts array
        + preferred_screen_density - *** not sure if will be used yet *** android_mdpi, ios_1x, original (possibly for Badge and Avatar urls or i pass all urls and mobile-app can decide which one to use)
        + theme_id             (number, optional) - (very first time, nothing is passed) in case pre-login theme totally changed for app,             pass back everything for new theme in inserts array otherwise do normal inserts/updates/deletes check within the theme
        + translation_group_id (number, optional) - (very first time, nothing is passed) in case pre-login translation-group totally changed for app, pass back everything for new translation-group in inserts array otherwise do normal inserts/updates/deletes check within the translation-group
    
    + Body
    
            {
                "OS": "android",
                "locale": "en_US",
                "fcm_token": "abc123...",
                "app_name": "default_flare_app",
                "app_version": "v1",
                "cms_version": "default",
                "device_id": "abc123def456ghi7890jklmnopqrstuv",
                "app_last_updated_date": "2017-05-01 23:00:00",
                "preferred_screen_density": "android_mdpi",
                "theme_id": 1,
                "translation_group_id": 2
            }
    
+ Response 200 (application/json)

    + Attributes
        + request_status (RequestStatusObject)
        + cms_data (object)
            + is_app_upgrade_needed: (boolean) - if true, then mobile app will block app usage and ask to upgrade app (or provide direct link to upgrade). maybe just /appLaunch?
            + cms_app_last_updated_date (string)
            + device_id (string)
            + theme_info (object) - return prelogin theme keys only!
                + theme_id
                + theme_name (string)
                + is_inherited (boolean)
                + inherited_theme_id (number) - doesn't show up if is_inherited is false
                + inherited_theme_name (string) - doesn't show up if is_inherited is false
                + theme_values (object)
                    + inserts (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + updates (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + deletes (array[TranslationOrThemeKeyValueDeleteObject])
            + translation_info (object) - return prelogin theme keys only!
                + translation_group_id (number) - adding this in case want a quick check later on
                + translation_group_name (string)
                + is_inherited  (boolean)
                + inherited_translation_group_id (number) - doesn't show up if is_inherited is false
                + inherited_translation_group_name (string) - doesn't show up if is_inherited is false
                + translation_locale_key (string) - //pretend we send up en_AU but only en is available, i return the locale/lang/country info so app knows which locale or lang we got it from.
                + translation_language (object)
                    + lang_code (string)
                    + lang_desc (string)
                + translation_country (object)
                    + country_code (string) - might be null if we using default en translation pretend
                    + country_desc (string) - might be null if we using default en translation pretend
                + translation_values (object)
                    + inserts (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + updates (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + deletes (array[TranslationOrThemeKeyValueDeleteObject])
                
    + Body
        
            {
              "request_status": {
                "status": "success"
              },
              "cms_data": {
                "is_app_upgrade_needed": false,
                "cms_app_last_updated_date": "2017-01-10 23:45:12",
                "device_id": "abc123def456ghi7890jklmnopqrstuv",
                "theme_info":
                  {
                      "theme_id": 2,
                      "theme_name": "Theme AAA",
                      "is_inherited": true,
                      "inherited_theme_id": 2,
                      "inherited_theme_name": "Theme A",
                      "theme_values":
                      { 
                        "inserts": [
                            { "key": "app_background_color", "value":  "#FFFFFF", "type": "color_picker", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_heading_color",    "value":  "#000000", "type": "color_picker", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_button_color",     "value":  "#0000FF", "type": "color_picker", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            
                            -- note: for Image types below, 
                            -- *** if its a high rez image, we will just serve that key and that high-rez image's url, like 1st example below
                            { "key": "app_background_image",                 "value": "https://www.acurianhealth.com/tests/flare_app/default_background.png",         "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00",  },
                            -- *** if its a zip file uploaded with multiple images per 1 key (_android_hdpi, _ios_1x, etc), then we will APPEND/POSTFIX the resolution to the key to keep it unique... then filter out the 7 or so keys that dont apply to your screen_density
                            { "key": "app_background_image_ios_1x",          "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_1x.png",          "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_ios_2x",          "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_2x.png",          "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_ios_3x",          "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_3x.png",          "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_android_mdpi",    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_mdpi.png",    "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_android_hdpi",    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_hdpi.png",    "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_android_xhdpi",   "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xhdpi.png",   "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_android_xxhdpi",  "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xxhdpi.png",  "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_background_image_android_xxxhdpi", "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xxxhdpi.png", "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                    
                            { "key": "app_background_image_alt", "value":    "https://www.acurianhealth.com/tests/flare_app/default_background_alt.png",       "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            
                            { "key": "app_android_font_alt", "value":    "https://www.acurianhealth.com/tests/flare_app/Arial.ttf",          "type": "image", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_ios_font_alt",     "value":    "https://www.acurianhealth.com/tests/flare_app/ArialIOS.ttf",       "type": "image", "os": "ios",     "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            
                            { "key": "app_heading_size", "value":  "large",                     "type": "size",          "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            
                            { "key": "app_heading_android_custom_text", "value":  "Arial",      "type": "custom_text",   "os": "android",   "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                            { "key": "app_heading_ios_custom_text",     "value":  "ArialIOS",   "type": "custom_text",   "os": "ios",       "pre_login": true, "inserted_date": "2017-05-01 12:00:00" }
                        ], 
                        "updates": [
                            { "key": "test_update_key1", "value":  "large",                     "type": "size",          "os": "android", "pre_login": true, "updated_date": "2017-05-01 12:00:00" },
                            { "key": "test_update_key2", "value":  "large",                     "type": "size",          "os": "android", "pre_login": true, "updated_date": "2017-05-01 12:00:00" }
                        ], 
                        "deletes": [
                            {"key":"test_delete_key1", "deleted_date": "2017-05-01 12:00:00"},
                            {"key":"test_delete_key2", "deleted_date": "2017-05-01 12:00:00"}
                        ]
                      }
                },
                "translation_info": {
                  "translation_group_id": 1,
                  "translation_group_name": "Default Flare App translations",
                  "translation_locale_key": "en_US",
                  "translation_language": {
                    "lang_code": "en",
                    "lang_desc": "English"
                  },
                  "translation_country": {
                    "country_code": "US",
                    "country_desc": "United States"
                  },
                  "translation_values": {
                    "inserts": [
                        {"key":"Welcome_mainTitle",           "value":"FLARE STUDY",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Welcome_subTitle",            "value":"Welcome!",            "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Welcome_subText",             "value":"Signup using your online screener registration information", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Welcome_termsConditionsText", "value":"Terms and Condition", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Welcome_privaryPolicy",       "value":"Privacy Policy",      "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Welcome_registerButton",      "value":"Register",            "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        
                        {"key":"Registration_title",              "value":"New User Registration", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_name",               "value":"Name",             "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_username",           "value":"Username",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_password",           "value":"Password",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_email",              "value":"Email Id",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_phone",              "value":"Phone Number",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_registrationKey",    "value":"Registration Key", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Registration_registrationButton", "value":"Register",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"RegistrationDialog_title",        "value":"Congratulations",  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"RegistrationDialog_description",  "value":"You have successfully registered", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"RegistrationDialog_okay",         "value":"Okay",             "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        
                        {"key":"Login_mainTitle",          "value":"FLARE STUDY",               "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_password",           "value":"Password",                  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_username",           "value":"Username",                  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_authenticateButton", "value":"LOGIN",                     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_registerButton",     "value":"NEW USER Registration",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_forgotPassword",     "value":"Forgot your password?",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Login_resetText",          "value":"Reset it",                  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        
                        {"key":"Home_title",                         "value":"Flare Study",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_rewardsText",                   "value":"Reward Points",   "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_flareStatusText",               "value":"Flare Status",    "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_lastSiteVisitText",             "value":"Last Site Visit", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_flareNotVerifiedStatus",        "value":"Not Verified",    "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_flareReported",                 "value":"Flares Reported", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_siteVisits",                    "value":"Site Visits",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_FlareDetectionDiaglo_title",    "value":"FLARE DETECTED",  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Home_FlareDetectionDialog_contactDetailsText", "value":"Please contact site at", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        
                        {"key":"SurveyDecisionScreen_title", "value":"How are you feeling?", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"SurveyDecisionScreen_ok",    "value":"Ok",                   "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"SurveyDecisionScreen_notOk", "value":"Not Ok",               "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        
                        {"key":"Drawer_userName",          "value":"John Smith",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_profileText",       "value":"My Profile",     "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_homeMenu",          "value":"Home",           "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_notificationsMenu", "value":"Notifications",  "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_studyMaterialMenu", "value":"Study Material", "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_siteDetailsMenu",   "value":"Contact Site",   "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_settingsMenu",      "value":"Settings",       "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" },
                        {"key":"Drawer_logoutMenu",        "value":"Logout",         "os": "android", "pre_login": true, "inserted_date": "2017-05-01 12:00:00" }
                    ],
                    "updates": [
                        {"key":"test_update_key1",        "value":"Logout",         "os": "android", "pre_login": true, "updated_date": "2017-05-01 12:00:00" },
                        {"key":"test_update_key2",        "value":"Logout",         "os": "android", "pre_login": true, "updated_date": "2017-05-01 12:00:00" }
                    ], 
                    "deletes": [
                        {"key":"test_delete_key1", "deleted_date": "2017-05-01 12:00:00"},
                        {"key":"test_delete_key2", "deleted_date": "2017-05-01 12:00:00"}
                    ]
                    
                  }
                }
               },
               "acurian_services_data": {}
            }


## /validateFlareActivationKey
### Validate Flare Activation/Registration Key [POST]

Note: should call /validateFlareRegistrationKey AS service
The next call /register call should confirm its the same patient id I heard.
Note: about app_last_updated_date being passed here: I know its passed in payload in case i need it... But mobile-app shouldn't update the app_last_updated date, i don't think this request should return cms_data
Note: the response can be something like: RegistrationKeyValidation: "EXPIRED" or 

+ Request 200 (application/json)

    + Headers
    
            Authorization: Basic dynamicCMSApiUserPassGoesHere

    + Attributes
        + OS (string) - android or ios or (web)
        + locale (string, optional) - assume 'en' (or 'en_US') if none passed
        + fcm_token (string) - mobile app will give us an FCM Token to register for that device
        + app_name (string) - machine name of app like 'default_flare_app' or 'pfizer_flare_app'
        + app_version (string) - examples: 'v1' or 'v1.5' or 'v2' 'v2.2' (do they want to just match on regex for example: 'v1\.1.*' and/or multiple versioning overrides per OS )
        + cms_version (string) - 'default' or 'v2', which pretend would correspond with login() and login_v2() respectively in the cms
        + device_id (string, optional) - provide if already gotton on app's 1st launch (response won't issue a new device_id, if one already passed up)
        + app_last_updated_date (string, optional) - needs to get the latest info so supply on subsequent launches
        + preferred_screen_density - *** not sure if will be used yet *** android_mdpi, ios_1x, original (possibly for Badge and Avatar urls or i pass all urls and mobile-app can decide which one to use)
        + registration_key - *** is there something else that can be used if they dont have activation key?
    
    + Body
    
            {
                "OS": "android",
                "locale": "en_US",
                "fcm_token": "abc123...",
                "app_name": "default_flare_app",
                "app_version": "v1",
                "cms_version": "default",                
                "device_id": "abc123def456ghi7890jklmnopqrstuv",
                "app_last_updated_date": "2017-05-01 23:00:00",
                
                "registration_key": "LMYLF6"
            }

+ Response 200 (application/json)

    + Attributes
        + request_status (RequestStatusObject)
        + cms_data - empty
        + acurian_services_data
        
    + Body

            {
              "request_status": {
                "status": "success"
              },
              "cms_data": {},
              "acurian_services_data": {
                apiResponse: {
                  RegistrationKeyValidation: "VALID_AND_AVAILABLE_FOR_REGISTRATION"
                },
                apiErrors: [{
                    code: 200,
                    status: "OK",
                    message: "Registration key is valid and available for registration",
                    moreInfo: "Registration key is valid and available for registration",
                    httpStatus: "OK",
                    versionInfo: "Supported"
                  }
                ]
              }  
            }
            

## /resetFlareUserRegistrationKey
### Reset (and possibly Generate) Flare Patient Registration Key  [POST]

Note: should call /sendFlareRegKeyResetLink (which in turn will call /resetFlareUserRegKey from clicking the email link) AS service (note: this used to be called old /resetFlareUserRegistrationKey WS directly which is incorrect)
Some of these params below aren't needed but for now we agreed to always accept if they are available and sent up from the mobile-app (OS till app_last_updated_date for example)

+ Request 200 (application/json)

    + Headers
    
            Authorization: Basic dynamicCMSApiUserPassGoesHere

    + Attributes
        + OS (string) - 
        + locale (string, optional) - 
        + fcm_token (string) - 
        + app_name (string) - 
        + app_version (string) - 
        + cms_version (string) - 
        + device_id (string, optional) - 
        + app_last_updated_date (string, optional) - 
        + email (required)

    + Body 

            {
                "OS": "android",
                "locale": "en_US",
                "fcm_token": "abc123...",
                "app_name": "default_flare_app",
                "app_version": "v1",
                "cms_version": "default",                
                "device_id": "abc123def456ghi7890jklmnopqrstuv",
                "app_last_updated_date": "2017-05-01 23:00:00",
                
                "email":"sample@acurian.com",
            }

    
+ Response 200 (application/json)
    
    + Attributes
        + request_status (RequestStatusObject)
        + cms_data - empty
        + acurian_services_data
        
    + Body

            {
                "request_status": {
                    "status": "success"
                },
                "cms_data": {},
                "acurian_services_data": {
                    apiResponse: {
                        uniqueId: "7JT2U8"
                    },
                    apiErrors: [
                        {
                            code: 200,
                            status: "Success",
                            message: "Success",
                            moreInfo: "Success",
                            httpStatus: "OK",
                            versionInfo: "Supported"
                        }
                    ]
                }
            }

+ Response 409 (application/json)

    + Attributes
        + request_status (RequestStatusObject)
        + cms_data - empty
        + acurian_services_data

    + Body

            {
                "request_status": {
                    "status": "error",
                    "errors": [ {
                            "error_source": "acurian_services_error",
                            "error_code": "PATIENT_ALREADY_REGISTERED_EXCEPTION_EXAMPLE",
                            "error_message": "Patient already registered"
                        }
                    ] 
                },
                "cms_data": {},
                "acurian_services_data": {
                    apiResponse: {
                        patientInfo: {
                            flareUserId: 0,
                            emailId: "sample@acurian.com",
                            phoneNumber: "123-456-7890",
                            password: null,
                            registrationKey: null,
                            languagePref: null,
                            studyId: -1,
                            textPref: null,
                            phonePref: null,
                            emailPref: null,
                            surveyFreq: null,
                            notifFreq: null,
                            patientId: 0,
                            oldPassword: null,
                            newPassword: null,
                            status: null,
                            firstName: "Acurian",
                            lastName: "Trial",
                            projectCode: null,
                            registrationKeyExpired: null,
                            site: null,
                            metaData: null,
                            dob: "26-03-1973",
                            zipCode: "19044",
                            streetAddress: "Street 12"
                        }
                    },
                    apiErrors: [{
                        code: 409,
                        status: "PATIENT_ALREADY_REGISTERED_EXCEPTION_EXAMPLE",
                        message: "Patient already registered",
                        moreInfo: "Patient already registered",
                        httpStatus: "OK",
                        versionInfo: "Supported"
                    }]
                }
            }

## /register
### Register [POST]

Note: should call /registerFlareUser AS service and /getFlareSurvey AS service for the 2 objects under acurian_services_data
Note: similar to how we filtered theme/translation keys for pre-login keys for /appLaunch, make sure to filter theme/translation keys for post-login keys for /register
upon registration (after validating the token which happens separately)
Question: should we issue a jwt token to auto-login you in here, or call /login or /authorization after?: Answer: we should issue a jwt token and call AS /authorize with the same user/password so they can see that someone 'logged in' (their AS register doesn't do this)
Note: subscribe to FCM topics here as needed.
Note: create a good patient schema here since we'll have the flare_user_id and things to related to it like device_id, fcm_token, etc.

+ Request 200 (application/json)

    + Headers
    
            Authorization: Basic dynamicCMSApiUserPassGoesHere

    + Attributes
        + OS (string) - android or ios or (web)
        + locale (string, optional) - assume 'en' (or 'en_US') if none passed
        + fcm_token (string) - mobile app will give us an FCM Token to register for that device
        + app_name (string) - machine name of app like 'default_flare_app' or 'pfizer_flare_app'
        + app_version (string) - examples: 'v1' or 'v1.5' or 'v2' 'v2.2' (do they want to just match on regex for example: 'v1\.1.*' and/or multiple versioning overrides per OS )
        + cms_version (string) - 'default' or 'v2', which pretend would correspond with login() and login_v2() respectively in the cms
        + device_id (string) - provide since already done on app 1st launch
        + app_last_updated_date (string) - needs to get the latest info
        + preferred_screen_density - *** not sure if will be used yet *** android_mdpi, ios_1x, original (possibly for Badge and Avatar urls or i pass all urls and mobile-app can decide which one to use)
        + activation_key - *** is there something else that can be used if they dont have activation key?
        + email (string, required) - *** email from 
        + password (string, optional) - *** Note: any password inputs I believe will always be md5-ed be4 they get to us
    
    + Body
    
            {
                "OS": "android",
                "locale": "en_US",
                "fcm_token": "abc123...",
                "app_name": "default_flare_app",
                "app_version": "v1",
                "cms_version": "default"
                "device_id": "def124",
                "app_last_updated_date": "2017-05-01 23:00:00",
                "preferred_screen_density": "android_mdpi",
                "activation_key": "usertypingsomething",
                "email": "test@hotmail.com",
                "phone_number": "abc1234",
                "password": "md5(password@2!$test)"
            }
    
+ Response 200 (application/json)

    + Attributes
        + request_status (RequestStatusObject)
        + cms_data (object)
            + cms_app_last_updated_date (string) -
            + jwt_token (string) - hmmm so if we can't call our own /login since it will return data as if you logged in for 1st time, then we have to call AS's login directly and get the jwt token here (also will issue one if user logs out and has to do a CMS /login)
            + theme_info (object) - filter post-login theme keys only!
                + theme_id
                + theme_name (string)
                + is_inherited (boolean)
                + inherited_theme_id (number) - doesn't show up if is_inherited is false
                + inherited_theme_name (string) - doesn't show up if is_inherited is false
                + theme_values (object)
                    + inserts (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + updates (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + deletes (array[TranslationOrThemeKeyValueDeleteObject])
            + translation_info (object) - filter post-login translation keys only!
                + translation_group_id (number) - adding this in case want a quick check later on
                + translation_group_name (string)
                + is_inherited  (boolean)
                + inherited_translation_group_id (number) - doesn't show up if is_inherited is false
                + inherited_translation_group_name (string) - doesn't show up if is_inherited is false
                + translation_locale_key (string) - //pretend we send up en_AU but only en is available, i return the locale/lang/country info so app knows which locale or lang we got it from.
                + translation_language (object)
                    + lang_code (string)
                    + lang_desc (string)
                + translation_country (object)
                    + country_code (string) - might be null if we using default en translation pretend
                    + country_desc (string) - might be null if we using default en translation pretend
                + translation_values (object)
                    + inserts (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + updates (array[TranslationOrThemeKeyValueInsertOrUpdateObject])
                    + deletes (array[TranslationOrThemeKeyValueDeleteObject])
            + study_materials
                + inserts (array[AppMaterialOrStudyMaterialInsertOrUpdateObject])
                + updates (array[AppMaterialOrStudyMaterialInsertOrUpdateObject])
                + deletes (array[AppMaterialOrStudyMaterialDeleteObject])
            + app_materials
                + inserts (array[AppMaterialOrStudyMaterialInsertOrUpdateObject])
                + updates (array[AppMaterialOrStudyMaterialInsertOrUpdateObject])
                + deletes (array[AppMaterialOrStudyMaterialDeleteObject])
            + avatars
                + avatar_group_id (number)
                + avatar_group_name (string)
                + fallback_translation_key_avatar_awarded (string) - lookup can fail
                + fallback_translation_key_avatar_achieve_title (string)  - lookup can fail
                + fallback_translation_key_avatar_achieve_body (string) - lookup can fail
                + inserts (array[AvatarInsertOrUpdateObject])
                + updates (array[AvatarInsertOrUpdateObject])
                + deletes (array[AvatarOrBadgeDeleteObject])
            + badges
                + badge_group_id (number)
                + badge_group_name (string)
                + fallback_translation_key_badge_awarded (string) - could be empty too
                + fallback_translation_key_badge_achieve_title (string) - could be empty too
                + fallback_translation_key_badge_achieve_body (string) - could be empty too
                + inserts (array[BadgeInsertOrUpdateObject])
                + updates (array[BadgeInsertOrUpdateObject])
                + deletes (array[AvatarOrBadgeDeleteObject])
            + app_info
                + latency_minutes (number) - this can probably be moved into study_info but im not very picky on this since its a true app configuration vs study... maybe we want to add more things in the future to the app_info
            + study_info
                + study_id (number) - already in the 
                + project_code (string)
                + cms_study_id (number)
                + avatar_trigger (string) - for now we only have 1 type of trigger, so using string for now. later we maybe have an id from the dropdown
                + badge_trigger (string) - for now we only have 1 type of trigger, so using string for now. later we maybe have an id from the dropdown
                + number_hours_maintain_streak_data (number)
                + allow_user_to_take_survey_if_in_flare (boolean)
                + allow_gain_avatars_offline (boolean)
                + allow_gain_badges_offline (boolean)
                + allow_gain_same_badge_multiple_times (boolean)
                + show_baseline_after_register (boolean)
                + show_non_baseline_after_register (boolean)
                + show_baseline_in_survey (boolean)
                + editable_baseline_in_survey (boolean)
                + show_baseline_link_in_settings (boolean)
                + spectrum_graph_colors (array[SpectrumColorObject]) - hardcoded for now, we will make a CMS page later to collect this info which will build the spectrum graph dynamically
                + patient_profile_score
                    + patient_profile_score_formula (string)
                    + patient_profile_score_mapping (array[PatientProfileScoreMappingObject])
                + question_color_image_mapping
                    + questions (array[QuestionColorImageMappingObject])
        + acurian_services_data (object)
            + patient_info (object) - pull this data from the AS service: POST /registerFlareUser (params: emailID, phoneNumber, password, registrationKey, languagePref ... correspond to our values: email, phone_number, password, activation_key, locale)
            + survey_info (object)  - pull this data from the AS service: GET /getFlareSurvey
        
    + Body

            {
                "request_status": {
                    "status": "success"
                },
                "cms_data": {
                    "cms_app_last_updated_date": "2017-01-10 23:45:12",
                    "jwt_token": "def456...",
                    "theme_info": {
                        "theme_id": 2,
                        "theme_name": "Theme AAA",
                        "is_inherited": true,
                        "inherited_theme_id": 2,
                        "inherited_theme_name": "Theme A",
                        "theme_values": {
                            "inserts": [{
                                    "key": "app_background_color",
                                    "value": "#FFFFFF",
                                    "type": "color_picker",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_heading_color",
                                    "value": "#000000",
                                    "type": "color_picker",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_button_color",
                                    "value": "#0000FF",
                                    "type": "color_picker",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/default_background.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_iOS_1x",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_1x.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_iOS_2x",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_2x.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_iOS_3x",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/ios_background_3x.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_android_mdpi",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_mdpi.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_android_hdpi",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_hdpi.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_android_xhdpi",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xhdpi.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_android_xxhdpi",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xxhdpi.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_android_xxxhdpi",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/android_background_xxxhdpi.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_background_image_alt",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/default_background_alt.png",
                                    "type": "image",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                },
                                {
                                    "key": "app_android_font_alt",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/Arial.ttf",
                                    "type": "file",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_ios_font_alt",
                                    "value": "https://www.acurianhealth.com/tests/flare_app/ArialIOS.ttf",
                                    "type": "file",
                                    "os": "ios",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                },
                                {
                                    "key": "app_heading_size",
                                    "value": "large",
                                    "type": "size",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_heading_android_custom_text",
                                    "value": "Arial",
                                    "type": "custom_text",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "app_heading_ios_custom_text",
                                    "value": "ArialIOS",
                                    "type": "custom_text",
                                    "os": "ios",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }
                            ],
                            "updates": [{
                                    "key": "test_update_key1",
                                    "value": "large",
                                    "type": "size",
                                    "os": "android",
                                    "pre_login": true,
                                    "updated_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "test_update_key2",
                                    "value": "large",
                                    "type": "size",
                                    "os": "android",
                                    "pre_login": true,
                                    "updated_date": "2017-05-01 12:00:00"
                                }
                            ],
                            "deletes": [{
                                    "key": "test_delete_key1",
                                    "deleted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "test_delete_key2",
                                    "deleted_date": "2017-05-01 12:00:00"
                                }
                            ]
                        }
                    },
                    "translation_info": {
                        "translation_group_id": 1,
                        "translation_group_name": "Default Flare App translations",
                        "translation_locale_key": "en_US",
                        "translation_language": {
                            "lang_code": "en",
                            "lang_desc": "English"
                        },
                        "translation_country": {
                            "country_code": "US",
                            "country_desc": "United States"
                        },
                        "translation_values": {
                            "inserts": [{
                                    "key": "Welcome_mainTitle",
                                    "value": "FLARE STUDY",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Welcome_subTitle",
                                    "value": "Welcome!",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Welcome_subText",
                                    "value": "Signup using your online screener registration information",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Welcome_termsConditionsText",
                                    "value": "Terms and Condition",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Welcome_privaryPolicy",
                                    "value": "Privacy Policy",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Welcome_registerButton",
                                    "value": "Register",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_title",
                                    "value": "New User Registration",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_name",
                                    "value": "Name",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_username",
                                    "value": "Username",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_password",
                                    "value": "Password",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_email",
                                    "value": "Email Id",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_phone",
                                    "value": "Phone Number",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_registrationKey",
                                    "value": "Registration Key",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Registration_registrationButton",
                                    "value": "Register",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "RegistrationDialog_title",
                                    "value": "Congratulations",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "RegistrationDialog_description",
                                    "value": "You have successfully registered",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "RegistrationDialog_okay",
                                    "value": "Okay",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_mainTitle",
                                    "value": "FLARE STUDY",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_password",
                                    "value": "Password",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_username",
                                    "value": "Username",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_authenticateButton",
                                    "value": "LOGIN",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_registerButton",
                                    "value": "NEW USER Registration",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_forgotPassword",
                                    "value": "Forgot your password?",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Login_resetText",
                                    "value": "Reset it",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_title",
                                    "value": "Flare Study",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_rewardsText",
                                    "value": "Reward Points",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_flareStatusText",
                                    "value": "Flare Status",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_lastSiteVisitText",
                                    "value": "Last Site Visit",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_flareNotVerifiedStatus",
                                    "value": "Not Verified",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_flareReported",
                                    "value": "Flares Reported",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_siteVisits",
                                    "value": "Site Visits",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_FlareDetectionDiaglo_title",
                                    "value": "FLARE DETECTED",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Home_FlareDetectionDialog_contactDetailsText",
                                    "value": "Please contact site at",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "SurveyDecisionScreen_title",
                                    "value": "How are you feeling?",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "SurveyDecisionScreen_ok",
                                    "value": "Ok",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "SurveyDecisionScreen_notOk",
                                    "value": "Not Ok",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_userName",
                                    "value": "John Smith",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_profileText",
                                    "value": "My Profile",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_homeMenu",
                                    "value": "Home",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_notificationsMenu",
                                    "value": "Notifications",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_studyMaterialMenu",
                                    "value": "Study Material",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_siteDetailsMenu",
                                    "value": "Contact Site",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_settingsMenu",
                                    "value": "Settings",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "Drawer_logoutMenu",
                                    "value": "Logout",
                                    "os": "android",
                                    "pre_login": true,
                                    "inserted_date": "2017-05-01 12:00:00"
                                }
                            ],
                            "updates": [{
                                    "key": "test_update_key1",
                                    "value": "Logout",
                                    "os": "android",
                                    "pre_login": true,
                                    "updated_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "test_update_key2",
                                    "value": "Logout",
                                    "os": "android",
                                    "pre_login": true,
                                    "updated_date": "2017-05-01 12:00:00"
                                }
                            ],
                            "deletes": [{
                                    "key": "test_delete_key1",
                                    "deleted_date": "2017-05-01 12:00:00"
                                }, {
                                    "key": "test_delete_key2",
                                    "deleted_date": "2017-05-01 12:00:00"
                                }
                            ]

                        }
                    },
                    "study_materials": {
                        "inserts": [{
                                "study_material_id": 1,
                                "title": "External Intro Video",
                                "type": "external_url_resource",
                                "file_url": "http://youtube.com/?v=123",
                                "pre_download_resource": false,
                                "section_category": "Videos"
                            }, {
                                "study_material_id": 2,
                                "title": "Internal Intro Video",
                                "type": "internal_cms_file_resource",
                                "file_url": "http://cms.com/files/study-materials/study-1/study-materials-1/video.avi",
                                "pre_download_resource": true,
                                "section_category": "Videos"
                            }, {
                                "study_material_id": 3,
                                "title": "Big Powerpoint File",
                                "type": "internal_cms_file_resource",
                                "file_url": "http://cms.com/files/study-materials/study-1/study-materials-2/big-powerpoint.ppt",
                                "pre_download_resource": false,
                                "section_category": "Documents"
                            }
                        ],
                        "updates": [],
                        "deletes": []
                    },
                    "app_materials": {
                        "inserts": [{
                                "app_material_id": 1,
                                "title": "External Intro Video",
                                "type": "external_url_resource",
                                "file_url": "http://youtube.com/?v=123",
                                "pre_download_resource": false,
                                "section_category": "Videos"
                            }, {
                                "app_material_id": 2,
                                "title": "Internal Intro Video",
                                "type": "internal_cms_file_resource",
                                "file_url": "http://cms.com/files/study-materials/study-1/study-materials-1/video.avi",
                                "pre_download_resource": true,
                                "section_category": "Videos"
                            }, {
                                "app_material_id": 3,
                                "title": "Big Powerpoint File",
                                "type": "internal_cms_file_resource",
                                "file_url": "http://cms.com/files/study-materials/study-1/study-materials-2/big-powerpoint.ppt",
                                "pre_download_resource": false,
                                "section_category": "Documents"
                            }
                        ],
                        "updates": [],
                        "deletes": []
                    },

                    "avatars": {
                        "avatar_group_id": 1,
                        "avatar_group_name": "Avatar Origami - Short Study",
                        "fallback_translation_key_avatar_awarded": "default_avatar_awarded_message ... something like: Congratulations, you have unlocked reached level ${avatar_order}",
                        "fallback_translation_key_avatar_achieve_title": "default_avatar_achieve_title_message ... something like: Level ${avatar_order}",
                        "fallback_translation_key_avatar_achieve_body": "default_avatar_achieve_title_message ... something like: You are the ${avatar_name}",
                        "inserts": [{
                                "avatar_id": 1,
                                "avatar_name": "Bird Origami",
                                "order": 1,
                                "translation_key_avatar_name": "",
                                "translation_key_avatar_awarded": "",
                                "translation_key_avatar_achieve_title": "",
                                "translation_key_avatar_achieve_body": "",
                                "pieces": [{
                                        "piece_name": "outline",
                                        "true_index": 1,
                                        "index": 0.0,
                                        "file_urls": [{
                                                "avatar_image_id":1,
                                                "screen_density": "android_mdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__android_mdpi.png"
                                            }, {
                                                "avatar_image_id":2,
                                                "screen_density": "android_hdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__android_hdpi.png"
                                            }, {
                                                "avatar_image_id":3,
                                                "screen_density": "android_xhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__android_xhdpi.png"
                                            }, {
                                                "avatar_image_id":4,
                                                "screen_density": "android_xxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__android_xxhdpi.png"
                                            }, {
                                                "avatar_image_id":5,
                                                "screen_density": "android_xxxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__android_xxxhdpi.png"
                                            }, {
                                                "avatar_image_id":6,
                                                "screen_density": "ios_1x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__ios_1x.png"
                                            }, {
                                                "avatar_image_id":7,
                                                "screen_density": "ios_2x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__ios_2x.png"
                                            }, {
                                                "avatar_image_id":8,
                                                "screen_density": "ios_3x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__ios_3x.png"
                                            }, {
                                                "avatar_image_id":9,
                                                "screen_density": "original",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__1--i__0.0--n__Bird--d__outline--r__original.png"
                                            }
                                        ]
                                    }, {
                                        "piece_name": "peice_1",
                                        "true_index": 2,
                                        "index": 0.5,
                                        "file_urls": [{
                                                "avatar_image_id":10,
                                                "screen_density": "android_mdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__android_mdpi.png"
                                            }, {
                                                "avatar_image_id":11,
                                                "screen_density": "android_hdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__android_hdpi.png"
                                            }, {
                                                "avatar_image_id":12,
                                                "screen_density": "android_xhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__android_xhdpi.png"
                                            }, {
                                                "avatar_image_id":13,
                                                "screen_density": "android_xxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__android_xxhdpi.png"
                                            }, {
                                                "avatar_image_id":14,
                                                "screen_density": "android_xxxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__android_xxxhdpi.png"
                                            }, {
                                                "avatar_image_id":15,
                                                "screen_density": "ios_1x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__ios_1x.png"
                                            }, {
                                                "avatar_image_id":16,
                                                "screen_density": "ios_2x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__ios_2x.png"
                                            }, {
                                                "avatar_image_id":17,
                                                "screen_density": "ios_3x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__ios_3x.png"
                                            }, {
                                                "avatar_image_id":18,
                                                "screen_density": "original",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__2--i__0.5--n__Bird--d__piece_1--r__original.png"
                                            }
                                        ]
                                    }, {
                                        "piece_name": "outline_w_piece_1",
                                        "true_index": 3,
                                        "index": 1.0,
                                        "file_urls": [{
                                                "avatar_image_id":19,
                                                "screen_density": "android_mdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__android_hdpi.png"
                                            }, {
                                                "avatar_image_id":20,
                                                "screen_density": "android_hdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__android_hdpi.png"
                                            }, {
                                                "avatar_image_id":21,
                                                "screen_density": "android_xhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__android_xhdpi.png"
                                            }, {
                                                "avatar_image_id":22,
                                                "screen_density": "android_xxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__android_xxhdpi.png"
                                            }, {
                                                "avatar_image_id":23,
                                                "screen_density": "android_xxxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__android_xxxhdpi.png"
                                            }, {
                                                "avatar_image_id":24,
                                                "screen_density": "ios_1x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__ios_1x.png"
                                            }, {
                                                "avatar_image_id":25,
                                                "screen_density": "ios_2x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__ios_2x.png"
                                            }, {
                                                "avatar_image_id":26,
                                                "screen_density": "ios_3x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__ios_3x.png"
                                            }, {
                                                "avatar_image_id":27,
                                                "screen_density": "original",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__3--i__1.0--n__Bird--d__outline_w_piece_1--r__original.png"
                                            }
                                        ]
                                    }, {
                                        "piece_name": "peice_2",
                                        "true_index": 4,
                                        "index": 1.5,
                                        "file_urls": [{
                                                "avatar_image_id":28,
                                                "screen_density": "android_mdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__android_mdpi.png"
                                            }, {
                                                "avatar_image_id":29,
                                                "screen_density": "android_hdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__android_hdpi.png"
                                            }, {
                                                "avatar_image_id":30,
                                                "screen_density": "android_xhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__android_xhdpi.png"
                                            }, {
                                                "avatar_image_id":31,
                                                "screen_density": "android_xxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__android_xxhdpi.png"
                                            }, {
                                                "avatar_image_id":32,
                                                "screen_density": "android_xxxhdpi",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__android_xxxhdpi.png"
                                            }, {
                                                "avatar_image_id":33,
                                                "screen_density": "ios_1x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__ios_1x.png"
                                            }, {
                                                "avatar_image_id":34,
                                                "screen_density": "ios_2x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__ios_2x.png"
                                            }, {
                                                "avatar_image_id":35,
                                                "screen_density": "ios_3x",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__ios_3x.png"
                                            }, {
                                                "avatar_image_id":36,
                                                "screen_density": "original",
                                                "file_url": "http://cms.com/avatar-group-1/avatar-1/o__1--ti__4--i__1.5--n__Bird--d__piece_2--r__original.png"
                                            }
                                        ]
                                    }
                                ]
                            }, {
                                "avatar_id": 2,
                                "avatar_name": "Monkey Origami",
                                "order": 2,
                                "translation_key_avatar_name": "",
                                "translation_key_avatar_awarded": "",
                                "translation_key_avatar_achieve_title": "",
                                "translation_key_avatar_achieve_body": "",
                                "pieces": ["etc", "etc"]
                            }, {
                                "avatar_id": 3,
                                "avatar_name": "Giraffe Origami",
                                "order": 3,
                                "translation_key_avatar_name": "",
                                "translation_key_avatar_awarded": "",
                                "translation_key_avatar_achieve_title": "",
                                "translation_key_avatar_achieve_body": "",
                                "pieces": ["etc", "etc"]
                            }
                        ],
                        "updates": [],
                        "deletes": []
                    },
                    "badges": {
                        "badge_group_id": 1,
                        "badge_group_name": "Trophy Badges",
                        "fallback_translation_key_badge_awarded": "default_badge_awarded_message ... something like: Congratulations for reporting ${badge_streak_day} days in a row. Keep up the streak!",
                        "fallback_translation_key_badge_achieve_title": "default_badge_achieve_title_message ... something like: ${badge_streak_day}-day streak",
                        "fallback_translation_key_badge_achieve_body": "default_badge_achieve_body_message ... something like: You earned this award for answering your daily questions for ${badge_streak_day} consecutive days. Way to go!",
                        "inserts": [{
                                "badge_id": 1,
                                "badge_name": "Bronze Trophy",
                                "streak_days_to_win": 1,
                                "translation_key_badge_name": "",
                                "translation_key_badge_awarded": "",
                                "translation_key_badge_achieve_title": "",
                                "translation_key_badge_achieve_body": "",
                                "file_urls": [{
                                        "badge_image_id": 1,
                                        "screen_density": "android_mdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__android_mdpi.png"
                                    }, {
                                        "badge_image_id": 2,
                                        "screen_density": "android_hdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__android_hdpi.png"
                                    }, {
                                        "badge_image_id": 3,
                                        "screen_density": "android_xhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__android_xhdpi.png"
                                    }, {
                                        "badge_image_id": 4,
                                        "screen_density": "android_xxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__android_xxhdpi.png"
                                    }, {
                                        "badge_image_id": 5,
                                        "screen_density": "android_xxxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__android_xxxhdpi.png"
                                    }, {
                                        "badge_image_id": 6,
                                        "screen_density": "ios_1x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__ios_1x.png"
                                    }, {
                                        "badge_image_id": 7,
                                        "screen_density": "ios_2x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__ios_2x.png"
                                    }, {
                                        "badge_image_id": 8,
                                        "screen_density": "ios_3x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__ios_3x.png"
                                    }, {
                                        "badge_image_id": 9,
                                        "screen_density": "original",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Bronze_Trophy--r__original.png"
                                    }
                                ]
                            }, {
                                "badge_id": 2,
                                "badge_name": "Silver Trophy",
                                "streak_days_to_win": 3,
                                "translation_key_badge_name": "",
                                "translation_key_badge_awarded": "",
                                "translation_key_badge_achieve_title": "",
                                "translation_key_badge_achieve_body": "",
                                "file_urls": [{
                                        "badge_image_id": 10,
                                        "screen_density": "android_mdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__android_mdpi.png"
                                    }, {
                                        "badge_image_id": 11,
                                        "screen_density": "android_hdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__android_hdpi.png"
                                    }, {
                                        "badge_image_id": 12,
                                        "screen_density": "android_xhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__android_xhdpi.png"
                                    }, {
                                        "badge_image_id": 13,
                                        "screen_density": "android_xxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__android_xxhdpi.png"
                                    }, {
                                        "badge_image_id": 14,
                                        "screen_density": "android_xxxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__android_xxxhdpi.png"
                                    }, {
                                        "badge_image_id": 15,
                                        "screen_density": "ios_1x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__ios_1x.png"
                                    }, {
                                        "badge_image_id": 16,
                                        "screen_density": "ios_2x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__ios_2x.png"
                                    }, {
                                        "badge_image_id": 17,
                                        "screen_density": "ios_3x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__ios_3x.png"
                                    }, {
                                        "badge_image_id": 18,
                                        "screen_density": "original",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Silver_Trophy--r__original.png"
                                    }
                                ]
                            }, {
                                "badge_id": 3,
                                "badge_name": "Gold Trophy",
                                "streak_days_to_win": 5,
                                "translation_key_badge_name": "",
                                "translation_key_badge_awarded": "",
                                "translation_key_badge_achieve_title": "",
                                "translation_key_badge_achieve_body": "",
                                "file_urls": [{
                                        "badge_image_id": 19,
                                        "screen_density": "android_mdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__android_mdpi.png"
                                    }, {
                                        "badge_image_id": 20,
                                        "screen_density": "android_hdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__android_hdpi.png"
                                    }, {
                                        "badge_image_id": 21,
                                        "screen_density": "android_xhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__android_xhdpi.png"
                                    }, {
                                        "badge_image_id": 22,
                                        "screen_density": "android_xxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__android_xxhdpi.png"
                                    }, {
                                        "badge_image_id": 23,
                                        "screen_density": "android_xxxhdpi",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__android_xxxhdpi.png"
                                    }, {
                                        "badge_image_id": 24,
                                        "screen_density": "ios_1x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__ios_1x.png"
                                    }, {
                                        "badge_image_id": 25,
                                        "screen_density": "ios_2x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__ios_2x.png"
                                    }, {
                                        "badge_image_id": 26,
                                        "screen_density": "ios_3x",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__ios_3x.png"
                                    }, {
                                        "badge_image_id": 27,
                                        "screen_density": "original",
                                        "file_url": "http://cms.com/badge-group-1/badge-1/name__Gold_Trophy--r__original.png"
                                    }
                                ]
                            }
                        ],
                        "updates": [],
                        "deletes": []
                    },
                    "app_info": {
                        "latency_minutes": 60
                    },
                    "study_info": {
                        "study_id": 7176,
                        "project_code": "FLAREFUL",
                        "cms_study_id": 1,
                        "avatar_trigger": "Send Flare Response --Note: maybe this is an name like send_flare_response, confirm with CMS Team", 
                        "badge_trigger": "Streak Data --Note: maybe this is an name like send_flare_response, confirm with CMS Team",
                        "number_hours_maintain_streak_data": 48,
                        "allow_user_to_take_survey_if_in_flare": true
                        "allow_gain_avatars_offline": false,
                        "allow_gain_badges_offline": false,
                        "allow_gain_same_badge_multiple_times": false,
                        "show_baseline_after_register": true,
                        "show_non_baseline_after_register": true,
                        "show_baseline_in_survey": false;
                        "editable_baseline_in_survey": false;
                        "show_baseline_link_in_settings": true;
                        
                        "spectrum_graph_colors": [  
                           {
                              "index":0,
                              "color":"#800080",
                              "color_name":"Pink"
                           },
                           {  
                              "index":1,
                              "color":"#7433DC",
                              "color_name":"Purple"
                           },
                           {  
                              "index":2,
                              "color":"#0000FF",
                              "color_name":"Blue"
                           },
                           {  
                              "index":3,
                              "color":"#00BFFF",
                              "color_name":"Cyan"
                           },
                           {  
                              "index":4,
                              "color":"#00FF00",
                              "color_name":"Green"
[...]
